@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bourbon/bourbon";

.edgeLoad-EDGE-110730135 { visibility:hidden; }

*{
  font-family: "Helvetica", sans-serif;
}


#cr_header {
  //border: 1px solid red;
  overflow: auto;
  height: 28vh;
  background-image: url("../imgs/cover.jpg");
  background-size: cover;
  background-position: 40% center;
  border-bottom: 2px solid #e6e7e8;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  @media (max-width: $screen-sm-max) {
     height: 25vh;
  }

  #logo{
    height: 43px;
    width: auto;
    opacity: .4;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    @include transition(all .2s $ease-in-out-quad);

    &:hover{
      opacity: 1;
    }

  }

  #header_content {
    margin:auto;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
  }


  #tagline {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 3.3vw;
    margin-bottom: 12px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;

    @media (min-width: $screen-sm-min) {
      font-size: 1.6vw;
    }

  }

  #open {
    outline: none;
    border: none;
    background-image: url("../imgs/open_raised.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    height: 56px;
    width: 212px;

    &:active {
      background-image: url("../imgs/open_depressed.png");
    }
  }

}

#cr_demo{
  height: 72vh;
  background-color: #49494a;

  @media (max-width: $screen-sm-max) {
     height: 75vh;
  }

  #demo_area, #tab_area{
    float: left;
    //border: 1px solid red;
  }

  #demo_area {
    overflow: hidden;
    height: 75%;
    width: 100%;

    @media (min-width: $screen-sm-min) {
      width: 62%;
      height: 100%;
    }

    #fake_browser{
      height: auto;
      width: 100%;
    }

    #demo_frame{
      outline: none;
      border: none;
    }
  }

  #tab_area{
    background-color: #2a2b2a;
    height: 25%;
    width: 100%;
    overflow-y: scroll;

    @media (min-width: $screen-sm-min) {
      width: 38%;
      height: 100%;
    }

    .feature-tab {
      padding: 32px;
      color: white;
      opacity: .3;
      border-bottom: 1px solid #606161;
      cursor: pointer;
      @include transition(all .2s $ease-in-out-quad);

      &:not(:last-of-type){
        //border-bottom: 1px solid #606161;
      }

      &.active {
        background-color: #c14237;
        position: relative;
        opacity: 1;

        .feature-title{
          border-bottom-color: #9b2a24;
        }

      }

      .feature-title{
        font-size: 20px;
        font-weight: bold;
        margin-top: 0;
        padding-bottom: 13px;
        margin-bottom: 13px;
        border-bottom: 1px solid rgba(255, 255, 255,.5);
      }

      .feature-description{
         font-size: 13px;
         font-weight: 100;
      }

    }

  }
}