$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bourbon/bourbon";

@font-face {
  font-family: "Caslon Semibold";
  src: url("./fonts/ACaslonPro-Semibold.otf");
}

.edgeLoad-EDGE-110730135 { visibility:hidden; }

$red: #c14237;
$dark-red: #9b2a24;

body {
  font-family: "Helvetica", sans-serif;
}

.red-button {
  background-color: $red;
  border-radius: 3px;
  border: 1px solid $dark-red;
  padding: 15px 20px;
  font-size: 15px;
  vertical-align: middle;
  color: white;
//  @include transition(all .2s);
//  @include display(flex);
//  @include align-items(center);

  &:hover{
    background-color: $dark-red;
  }

  &:active, &:focus {
    outline: none;
    @include box-shadow(none);
  }

  & .fa{
    margin-left: 6px;
  }

}


#cr_header {
  //border: 1px solid red;
  overflow: auto;
  height: 28vh;
  background-image: url("../imgs/cover.jpg");
  background-size: cover;
  background-position: 40% center;
  //border-bottom: 2px solid #e6e7e8;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  @media (max-width: $screen-sm-max) {
     height: 25vh;
  }

  #logo{
    height: 43px;
    width: auto;
    opacity: .4;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    top:0;
    left:0;
    @include transition(all .2s $ease-in-out-quad);

    &:hover{
      opacity: 1;
    }

  }

  #header_content {
    margin:auto;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);

    @media (max-width: $screen-sm-max){
    }

  }


  #tagline {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 1.6vw;
    margin-bottom: 12px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;

    @media (max-width: $screen-sm-max){
      font-size: 5vw;
    }

  }

  #open {
    outline: none;
    border: none;
    background-image: url("../imgs/open_raised.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    height: 56px;
    width: 212px;

    &:active {
      background-image: url("../imgs/open_depressed.png");
    }
  }

}

#cr_demo{
  height: 72vh;
  background-color: #49494a;
  @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.75));

  @media (max-width: $screen-sm-max) {
     height: 75vh;
  }

  #demo_area, #tab_area{
    float: left;
    //border: 1px solid red;
  }

  #demo_area {
    overflow: hidden;
    height: 75%;
    width: 100%;

    @media (min-width: $screen-sm-min) {
      width: 62%;
      height: 100%;
    }

    #fake_browser{
      height: auto;
      width: 100%;
    }


    @include keyframes(fadein){
      to{
        opacity: 1;
      }
    }


    #demo_frame{
      outline: none;
      border: none;
      overflow: hidden;
      opacity: 0;
      @include animation(fadein .3s .5s forwards);
    }
  }

  #tab_area{
    background-color: #2a2b2a;
    @include backface-visibility(hidden);
    height: 25%;
    width: 100%;
    overflow-y: auto;

    @media (min-width: $screen-sm-min) {
      width: 38%;
      height: 100%;
    }

    .feature-tab {
      padding: 32px;
      color: white;
      opacity: .3;
      border-bottom: 1px solid #606161;
      cursor: pointer;
      @include transition(all .2s $ease-in-out-quad);

      &:hover {
        opacity: .5;
      }


      &.active {
        background-color: $red;
        position: relative;
        opacity: 1;

        .feature-title{
          border-bottom-color: #9b2a24;
        }

      }

      .feature-title{
        font-size: 20px;
        font-weight: bold;
        margin-top: 0;
        padding-bottom: 13px;
        margin-bottom: 13px;
        border-bottom: 1px solid rgba(255, 255, 255,.5);
      }

      .feature-description{
         font-size: 13px;
         font-weight: 100;
      }

    }

  }
}

#contact {
  padding: 30px;
  background-color: #f9f9f9;
}

.cr-modal-content{
  border-radius: 0px;
  border:none;
  @include box-shadow(none);

  .cr-modal-header {
    background-color: #282e3a;
    overflow: auto;
    padding: 0;
    height: 50px;
    @include display(flex);
    @include align-items(center);

    .cr-modal-title {
      color: white;
      text-align: center;
      padding: 10px;
      width: calc(100% - 30px);
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
    }

    .cr-modal-close-button{
      width: 60px;
      @include align-self(stretch);
      border-right: 1px solid white;
      color: white;
      opacity: .6;
      margin-top: 0; //override boostrap style

      &:active, &:focus{
        outline: none;
      }

      &:hover{
        opacity: 1;
      }
    }

  }

  .cr-modal-body{
    background-color: #f9f9f9;
    padding: 25px 60px;

    @media (max-width: $screen-sm-max) {
      padding: 25px;
    }

  }

}

.modal-backdrop {
  &.in{
    opacity: 0.8;
  }
}

#invite-description{
  font-family: "Calson Semibold";
  color: #2a2b2a;
  margin-bottom: 10px;
  font-size: 13px;
}

#invite-form{

  &.submitted {

    .invite-form-input{
        &.ng-invalid {
          background-color: rgba(255, 144, 44, .2);
        }

    }
  }

}

#invite-form-container{

    font-weight: bold;

    .invite-form-input-wrapper{
      padding: 0;

      &:first-of-type {
        padding-right: 6px;

        @media (max-width: $screen-sm-max) {
          padding-right:0;
          margin-bottom: 10px;
        }
      }
    }

    .invite-form-input{
      border-width: 1px;
      border-color: #949594;
      background-color: transparent;
      border-radius: 0;
      @include box-shadow(none);
      @include transition(all .2s);

        &:focus{
          outline: none;
          border-color: #2a2b2a;
        }

    }


    #success-message, #error-messages{
      font-family: "Calson Semibold" !important;
      padding: 10px;
      font-size: 10px;
      margin-bottom: 10px;
    }

    #success-message{
      background-color: rgb(93, 205, 78);
    }

    #error-messages{
      background-color: rgb(255, 213, 129);

      #error-messages-list{
        margin:0;
        margin-top: 3px;
      }
    }

    #top-group, #comment-group, #bottom-group{
      overflow: auto;
    }

    #top-group, #comment-group{
      margin-bottom: 14px;
    }

    #name, #email-field{
      border-color: transparent;
      border-bottom-color: #949594;
      width: 100%;


      &:focus{
        border-bottom-color: #2a2b2a;
      }

      padding: 6px;
    }

    #comment-field{
      padding: 10px;
      font-size: 11px;
      resize: none;
    }

    #journalist-check-field-label{
      font-size: 11px;
    }

    #journalist-check-field{
      border-radius: 0px;
      @include box-shadow(none);
    }


    #submit-button {
      float: right;

      @media (max-width: $screen-sm-max) {
        float: none;
        width: 100%;
        margin-top: 14px;
        text-align: center;
      }

    }

}